<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pugh.sockso.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:debuggable="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".activity.SearchActivity" />

        <activity android:name=".activity.LoginActivity" >
        </activity>
        <activity
            android:name=".activity.TabControllerActivity"
            android:exported="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AlbumListFragmentActivity" >
        </activity>
        <activity android:name=".activity.AlbumActivity" >
        </activity>
        <activity android:name=".activity.ArtistListFragmentActivity" >
        </activity>
        <activity android:name=".activity.ArtistActivity" >
        </activity>
        <activity android:name=".activity.TrackListFragmentActivity" >
        </activity>
        <activity android:name=".activity.PlayerActivity" >
        </activity>
        <activity
            android:name=".activity.SearchActivity"
            android:exported="false"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.SocksoProvider"
            android:authorities="com.pugh.sockso.android.data.SocksoProvider"
            android:exported="true"
            android:multiprocess="true" >
        </provider>

        <service
            android:name=".sync.SocksoSyncService"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sockso_syncer" >
            </meta-data>
        </service>
        <service
            android:name=".account.SocksoAccountAuthenticatorService"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/sockso_authenticator" >
            </meta-data>
        </service>
        <service
            android:name=".player.PlayerService"
            android:exported="false" >
        </service>
    </application>

</manifest>